body {
  background: #111;
  color: #eee;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: #222;
  padding: 25px;
  border-radius: 10px;
  width: 330px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: orange;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.topbar {
  background: #222;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

.logo-small {
  height: 40px;
}

.container {
  padding: 25px;
}

.logout {
  background: red;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
}
